@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #10011a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: relative;
  width: 65%;
  height: 55vh;
  top: 20%;
  bottom: 30%;
  margin: 0 auto;
  background: rgba(232, 233, 219, 0.2666666667);
  border-radius: 8px;
}

.box h1 {
  background: rgba(196, 194, 194, 0.459);
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  font-size: 40px;
  font-family: "Dancing+Script";
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.box h1:hover {
  text-shadow: 7px 7px 0.1em #a02dff;
}

.name-input {
  width: 75%;
  padding: 8px;
  margin-left: 10px;
  font-size: 1.5vh;
  font-family: "Roboto";
  border: none;
  border-radius: 3px;
}

.name-input::placeholder {
  font-size: 2vh;
  text-align: left;
  align-content: center;
}

.button {
  padding: 10px;
  font-size: 1.4vh;
  text-align: center;
  align-items: center;
  background: #025e1e;
  border-radius: 5px;
  border: none;
  color: #eee;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: transparent;
  border: 2px solid #8b80f9;
  background: #10011a;
  box-shadow: #8b80f9 0 0 10px 1px inset, #8b80f9 0 0 10px 1px;
  border-radius: 10px;
}

.box .area-input {
  margin: 10px;
  width: 96%;
  height: 30vh;
  background: rgba(240, 243, 211, 0.5843137255);
  color: #10011a;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  resize: none;
}

.result {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #eee;
  text-shadow: 5px 5px 0.3em #000;
}

.elementsicon {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.icones {
  cursor: pointer;
  position: relative;
}

#tooltip-reload::after {
  content: "Limpar";
  position: absolute;
  background-color: rgba(160, 45, 255, 0.2666666667);
  padding-top: 8px;
  top: 5px;
  font-size: 12px;
  color: #eee;
  left: -18px;
  letter-spacing: 1px;
  width: 65px;
  height: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

#tooltip-print::after {
  content: "Imprimir";
  position: absolute;
  background-color: rgba(160, 45, 255, 0.2666666667);
  padding-top: 8px;
  top: 5px;
  font-size: 12px;
  color: #eee;
  left: -55px;
  letter-spacing: 1px;
  width: 85px;
  height: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

#tooltip-copy::after {
  content: "Copiar";
  position: absolute;
  background-color: rgba(160, 45, 255, 0.2666666667);
  padding-top: 8px;
  top: 5px;
  font-size: 12px;
  color: #eee;
  left: 1.5px;
  letter-spacing: 1px;
  width: 65px;
  height: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

#tooltip-copy:is(:hover, :focus)::after {
  opacity: 1;
  transform: translateY(48px);
}

#tooltip-print:is(:hover, :focus)::after {
  opacity: 1;
  transform: translateY(48px);
}

#tooltip-reload:is(:hover, :focus)::after {
  opacity: 1;
  transform: translateY(48px);
}

.bolhas {
  position: absolute;
  display: flex;
}

.bolhas span {
  width: 30px;
  height: 30px;
  background: #f0f3d3;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(232, 233, 219, 0.2666666667), 0 0 50px #e8e9db, 0 0 100px #e8e9db;
  animation: animar calc(150s / var(--m)) linear infinite;
}

@keyframes animar {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
.bolhas span:nth-of-type(2n) {
  background: #a02dff;
  box-shadow: 0 0 0 10px rgba(160, 45, 255, 0.2666666667), 0 0 50px #a02dff, 0 0 100px #a02dff;
}

.bolhas span:nth-of-type(4n + 1) {
  background: #2da0ff;
  box-shadow: 0 0 0 10px rgba(45, 160, 255, 0.2666666667), 0 0 50px #2da0ff, 0 0 100px #2da0ff;
}

@media (max-width: 375px) {
  .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .button {
    width: 40%;
    display: flex;
    text-align: center;
  }
  .result {
    margin-top: 5px;
  }
}
@media (max-width: 425px) {
  .topInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name-input {
    width: 100%;
  }
  .name-input::placeholder {
    font-size: 0.8vh;
  }
  .result {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .box {
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .topInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .area-input {
    height: 30vh;
  }
}
@media (min-width: 1024px) {
  .box {
    width: 90%;
    height: 50vh;
  }
  .name-input {
    width: 85%;
  }
  .result {
    margin-top: 5px;
  }
}
@media (min-width: 1440px) {
  .box {
    width: 60%;
    height: 50vh;
  }
  .name-input {
    width: 85%;
  }
  .result {
    margin-top: 5px;
  }
}
@media (min-width: 2560px) {
  .box {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
  .name-input {
    width: 84%;
    font-size: 2.3vh;
  }
  .name-input::placeholder {
    font-size: 1.6vh;
  }
  .button {
    font-size: 2.3vh;
  }
  .result {
    margin-top: 45px;
    font-size: 32px;
  }
  .area-input {
    width: 100%;
    height: 27vh;
  }
}
@media print {
  body {
    padding: 0;
    margin: 0;
    background-color: rgba(160, 45, 255, 0.2666666667);
    color: #000;
    font-size: 16px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
