$darkroxo: #10011a;
$lilas: #a02dff;
$lilatransparente: #a02dff44;
$violetapastel: #8b80f9;
$transparent: #e8e9db44;
$amarelotransparente: #f0f3d395;
$estrelatransparente: #e8e9db44;
$luzestrelaforte: #f0f3d3;
$luzestrelafraco: #e8e9db;
$verde: #025e1e;
$azulprimario: #2da0ff;
$azultransparente: #2da0ff44;
$white: #eee;
$Black: #000;
